[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
autopep8 = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
sqlalchemy = "<1.4"
Flask = "*"
pymysql = "*"
flask-migrate = "*"
flask-script = "*"

[dev-packages]

[requires]
python_version = "3.9"
